Repository palm-springs/PalmSpringClient, pull requests merged in 2023-12, with the labels that each got.

#304 Feat/#301/dashboard usability improvement
  app/[team]/dashboard/page.tsx
  components/dashboard/DashBoardTemplate.tsx
  components/dashboard/blogBasicInfo/BlogConfigTemplate.tsx
  components/dashboard/components/DashBoardHeader.tsx
  components/dashboard/components/DashBoardNav.tsx
  components/dashboard/components/NavButton.tsx
  components/dashboard/components/ui/BlogDirectNavButton.tsx
  components/dashboard/components/ui/DashBoardContentContainer.tsx
  components/dashboard/components/ui/DashBoardNavContainer.tsx
  components/dashboard/components/ui/DashBoardProfileContainer.tsx
  components/dashboard/components/ui/FooterPopOverMenuContainer.tsx
  components/dashboard/components/ui/HeaderContainer.tsx
  components/dashboard/components/ui/IndivBlog.tsx
  components/dashboard/components/ui/PopOverMenu.tsx
  components/dashboard/nav/NavUrlInput.tsx
  components/dashboard/nav/ui/NavSelectorContainer.tsx
  next.config.js
  utils/PermissionPolicyClass.ts
  utils/checkRenderDashboardPermissionButton.ts
Labels: dashboard

#303 Feat/#302/feat qa
  api/blogHome.ts
  app/[team]/author/[authorId]/layout.tsx
  app/[team]/content/article/[articleUrl]/[articleId]/layout.tsx
  app/[team]/content/page/[pageUrl]/[pageId]/layout.tsx
  app/[team]/home/[category]/page.tsx
  components/author/AuthorPageTemplate.tsx
  components/author/ui/AuthorInfo.tsx
  components/blog/BlogImg.tsx
  components/blog/ui/ArticleContainer.tsx
  components/blog/ui/ArticleListWithThumbnail.tsx
  components/blog/ui/CategoryBtnBar.tsx
  components/common/ArticleList.tsx
  components/common/BlogHeader.tsx
  components/common/ContentInfo.tsx
  components/common/PageContentInfo.tsx
  components/content/ui/ArticleBox.tsx
  components/content/ui/ArticleTemplate.tsx
  components/content/ui/PageTemplate.tsx
  components/content/ui/Recommend.tsx
  constants/ArticleContent.ts
  constants/ContentInfo.ts
  constants/articleList.ts
  constants/blogHeader.ts
  constants/blogInfo.ts
  hooks/useCheckMobile.ts
  types/article.ts
Labels: blog, author, QA

#308 feat/#307:제목 남아있는 이슈 해결
  components/dashboard/components/DashBoardHeader.tsx
  components/dashboard/components/DashBoardNavBtn.tsx
  components/dashboard/tempsaved/TempsavedContentList.tsx
  components/editor/TextEditorImport.tsx
Labels: editor, QA

#312 [Qa/#309] 2차 QA 사항 반영
  api/blog.ts
  api/blogHome.ts
  app/[team]/home/layout.tsx
  app/[team]/home/page.tsx
  app/globals.css
  components/auth/LoginLanding.tsx
  components/blog/SubscribeBtn.tsx
  components/common/BlogNav.tsx
  components/common/SideBarNav.tsx
  components/dashboard/blogBasicInfo/BlogDeleteButton.tsx
  components/dashboard/blogBasicInfo/BlogMetaDataPreview.tsx
  components/dashboard/category/IndivCategoryDashboardContent.tsx
  components/dashboard/components/DashBoardTitle.tsx
  components/dashboard/components/ui/DashBoardContentContainer.tsx
  components/dashboard/components/ui/PopOverMenu.tsx
  components/dashboard/nav/IndivNavDashboardContent.tsx
  components/dashboard/page/IndivPageContent.tsx
  components/dashboard/upload/components/IndivUploadContentList.tsx
  public/icons/google_logo.svg
  public/icons/index.ts
Labels: QA
