Repository palm-springs/PalmSpringClient, pull requests merged in 2023-10, with the labels that each got.

#258 Feat/#256/dashboard metadata
  components/dashboard/blogBasicInfo/BlogConfigTemplate.tsx
  components/dashboard/blogBasicInfo/BlogDescribeText.tsx
  components/dashboard/blogBasicInfo/BlogMainImge.tsx
  components/dashboard/blogBasicInfo/BlogMetaDataDescription.tsx
  components/dashboard/blogBasicInfo/BlogMetaDataImage.tsx
  components/dashboard/blogBasicInfo/BlogMetaDataPreview.tsx
  components/dashboard/blogBasicInfo/BlogMetaDataTitle.tsx
  components/dashboard/blogBasicInfo/BlogSubHeading.tsx
  components/dashboard/state/blogMetaData.ts
  types/blogMetaData.ts
Labels: feat, dashboard

#259 Feat/#257/permisson policy
  components/dashboard/BasicUserInfo/ui/DeleteButton.tsx
  components/dashboard/blogBasicInfo/BlogConfigTemplate.tsx
  components/dashboard/blogBasicInfo/BlogDescribeText.tsx
  components/dashboard/blogBasicInfo/BlogLogoImage.tsx
  components/dashboard/blogBasicInfo/BlogMainImge.tsx
  components/dashboard/blogBasicInfo/BlogName.tsx
  components/dashboard/components/BlogList.tsx
  components/dashboard/components/DashBoardFooter.tsx
  hooks/dashboard.ts
  hooks/usePermissionPolicy.ts
  recoil/atom/user.ts
  recoil/selector/userRoleSelector.ts
  types/user.ts
  utils/PermissionPolicyClass.ts
Labels: dashboard, api

#263 Feat/#261/change image url
  api/common.ts
  components/editor/TextEditorImport.tsx
  utils/getImageMultipartData.ts
Labels: content, api

#269 Feat/#253/new editor QA
  components/common/ui/DashboardDeleteModal.tsx
  components/dashboard/components/DashBoardNavBtn.tsx
  components/editor/TextEditorImport.tsx
  components/editor/publish/ui/PublishBottom.tsx
  components/editor/publish/ui/PublishTitle.tsx
  components/editor/publish/ui/ThumbnailInput.tsx
  components/editor/ui/ToolBox.tsx
  package.json
  styles/MobileTextEditorStyle.ts
  styles/TextEditorStyle.ts
  styles/theme.ts
  yarn.lock
Labels: editor, QA

#272 Qa/dashboard qa
  components/common/ui/DashboardCreateModal.tsx
  components/dashboard/components/DashBoardFooter.tsx
  components/dashboard/components/ui/Content.tsx
  components/dashboard/components/ui/CreatedAt.tsx
  components/dashboard/components/ui/DashBoardContentContainer.tsx
  components/dashboard/components/ui/FooterPopOverMenuContainer.tsx
  components/dashboard/components/ui/ModalPortalContainer.tsx
  components/dashboard/nav/NavUrlInput.tsx
  components/dashboard/nav/ui/NavSelectorContainer.tsx
  components/dashboard/upload/components/ui/PopOverMenu.tsx
  next.config.js
  public/icons/ic_close_32.svg
  public/icons/index.ts
Labels: dashboard, QA

#274 Feat/#271/blog QA
  api/blog.ts
  components/dashboard/blogBasicInfo/BlogConfigTemplate.tsx
  components/dashboard/blogBasicInfo/BlogDescribeText.tsx
  components/dashboard/blogBasicInfo/BlogMetaDataImage.tsx
  components/dashboard/blogBasicInfo/BlogMetaDataPreview.tsx
  types/blogMetaData.ts
Labels: dashboard, blog, QA
