Repository palm-springs/PalmSpringClient, pull requests merged in 2023-09, with the labels that each got.

#247 feat/#242: 서브도메인 제거 임시 라우트 변경
  components/blog/ui/ArticleListWithThumbnail.tsx
  components/blog/ui/CategoryBtnBar.tsx
  components/common/Article.tsx
  components/common/BlogNav.tsx
  components/common/ContentInfo.tsx
  components/common/HeaderLogo.tsx
  components/common/MobileArticle.tsx
  components/common/SideBarNav.tsx
Labels: blog

#251 Feat/#250/editor qa0919
  app/[team]/editor/article/[articleId]/draft/publish/page.tsx
  app/[team]/editor/article/[articleId]/edit/page.tsx
  app/[team]/editor/article/[articleId]/edit/publish/page.tsx
  app/[team]/editor/page/[pageId]/draft/page.tsx
  app/[team]/editor/page/[pageId]/edit/page.tsx
  app/[team]/editor/page/[pageId]/edit/publish/page.tsx
  components/editor/TextEditor.tsx
  components/editor/TextEditorImport.tsx
  components/editor/ui/SaveEditorContentButton.tsx
  components/editor/ui/ToolBox.tsx
Labels: editor, QA

#249 Feat/#248/editor logic refactor
  app/[team]/editor/article/[articleId]/draft/publish/page.tsx
  app/[team]/editor/article/[articleId]/edit/page.tsx
  app/[team]/editor/article/[articleId]/edit/publish/page.tsx
  app/[team]/editor/page/[pageId]/draft/page.tsx
  app/[team]/editor/page/[pageId]/draft/publish/page.tsx
  app/[team]/editor/page/[pageId]/edit/page.tsx
  app/[team]/editor/page/[pageId]/edit/publish/page.tsx
  components/editor/TextEditor.tsx
  components/editor/TextEditorImport.tsx
  components/editor/publish/ui/PublishBottom.tsx
  components/editor/ui/SaveEditorContentButton.tsx
  components/editor/ui/ToolBox.tsx
Labels: editor, refactor

#254 feat/#252: 불필요 코드 삭제 및 qa사항 반영
  components/blog/ui/ArticleContainer.tsx
  components/blog/ui/ArticleListWithThumbnail.tsx
Labels: blog, QA

#255 [QA] 대시보드 유저기본정보수정, 블로그 생성
  components/create-blog/info/ui/ImageInputForm.tsx
  components/dashboard/BasicUserInfo/ui/UserProfile.tsx
Labels: QA
