Repository palm-springs/PalmSpringClient, pull requests merged in 2023-11, with the labels that each got.

#281 Feat/#276/meta data api
  api/blog.ts
  app/[team]/home/opengraph-image.tsx
  app/[team]/home/page.tsx
  app/layout.tsx
  app/page.tsx
  components/Layout.tsx
  components/dashboard/blogBasicInfo/BlogConfigTemplate.tsx
  components/dashboard/blogBasicInfo/BlogMetaDataDescription.tsx
  components/dashboard/blogBasicInfo/BlogMetaDataImage.tsx
  components/dashboard/blogBasicInfo/BlogMetaDataPreview.tsx
  components/dashboard/blogBasicInfo/BlogMetaDataTitle.tsx
  components/dashboard/state/blogMetaData.ts
  types/blogMetaData.ts
Labels: dashboard, api

#284 Qa/#282/dashboard error fix
  api/blogHome.ts
  app/[team]/home/layout.tsx
  app/[team]/home/page.tsx
  app/not-found.tsx
  components/dashboard/components/ui/Content.tsx
  components/dashboard/member/MemberPermissionButton.tsx
  components/dashboard/member/PopOver.tsx
  components/dashboard/member/ui/MemberList.tsx
  components/dashboard/member/ui/MemberTemplate.tsx
  components/dashboard/tempsaved/IndivTempsavedContentList.tsx
Labels: bug, dashboard, api, QA

#283 Feat/#280/subscribe api
  api/blogHome.ts
  components/blog/SubscribeBtn.tsx
  components/common/BlogNav.tsx
  types/blogHeader.ts
Labels: blog, api

#287 hotfix: 모달 창 닫아도 스크롤 안되는 현상 수정
  components/blog/SubscribeBtn.tsx
Labels: blog, hotfix

#296 Feat/#294/blog qa
  app/[team]/home/[category]/page.tsx
  app/[team]/home/page.tsx
  components/blog/SubscribeBtn.tsx
  components/blog/ui/ArticleContainer.tsx
  components/common/Article.tsx
  components/common/BlogNav.tsx
  styles/TextEditorStyle.ts
  types/blogMainImg.ts
Labels: blog, QA

#293 Feat/#290/second qa
  components/dashboard/blogBasicInfo/BlogLogoImage.tsx
  components/dashboard/blogBasicInfo/BlogMainImge.tsx
  components/dashboard/blogBasicInfo/BlogMetaDataImage.tsx
  components/dashboard/blogBasicInfo/BlogName.tsx
  components/dashboard/blogBasicInfo/BlogSubHeading.tsx
  components/editor/TextEditor.tsx
  components/editor/TextEditorImport.tsx
  components/editor/ui/ToolBox.tsx
  package.json
  yarn.lock
Labels: dashboard, editor, QA

#297 [QA] 온보딩 디자인 QA 반영
  components/common/ui/AddMemberForm.tsx
  components/create-blog/info/ui/basicInfo/CreateBasicInfoLanding.tsx
  components/dashboard/member/ui/MemberTemplate.tsx
  styles/GlobalStyle.ts
Labels: QA
