Repository palm-springs/PalmSpringClient, pull requests merged in 2023-07, with the labels that each got.

#11 Feat#10/router config
  .eslintrc.json
  app/[team]/author/[authorId]/page.tsx
  app/[team]/blog/page.tsx
  app/[team]/content/[contentUrl]/page.tsx
  app/[team]/dashboard/category/page.tsx
  app/[team]/dashboard/member/page.tsx
  app/[team]/dashboard/navigation/page.tsx
  app/[team]/editor/article/publish/page.tsx
  app/[team]/editor/page/publish/page.tsx
  app/[team]/home/[category]/page.tsx
  app/[team]/home/layout.tsx
  app/[team]/home/page.tsx
  app/[team]/page.tsx
  app/layout.tsx
  app/login/layout.tsx
  app/login/loading.tsx
  app/login/page.tsx
  app/page.tsx
Labels: feat, router

#13 Feat/#12/style guide
  app/layout.tsx
  styles/GlobalStyle.ts
  styles/style.d.ts
  styles/theme.ts
Labels: feat

#17 [Login] 소셜 로그인 - 인가 코드, 액세스 코드
  .eslintrc.json
  .gitignore
  api/auth.ts
  api/login.ts
  app/auth/page.tsx
  app/layout.tsx
  components/auth/LoginLanding.tsx
  components/auth/RequestAccessToken.ts
  components/login/loginLanding.tsx
  constants/auth.ts
  hooks/auth.ts
  package.json
  public/icons/index.tsx
  public/icons/logo.svg
  public/icons/vercel.svg
  public/images/google_icon.png
  public/images/index.tsx
  public/images/next.svg
  styles/GlobalStyle.ts
  types/auth.ts
  yarn.lock
Labels: Login, feat

#23 [기본설정] theme fonts 수정
  styles/style.d.ts
  styles/theme.ts
Labels: feat, theme

#31 feat: theme font 변경
  styles/GlobalStyle.ts
  styles/style.d.ts
  styles/theme.ts
Labels: feat, theme

#33 feat/#32: 폰트 사이즈 조절
  styles/theme.ts
Labels: feat, theme

#36 feat/#34: letter-spacing 수정
  styles/theme.ts
Labels: feat, theme

#35 [Editor]Create ArticlePage UI 완성
  app/[team]/editor/article/page.tsx
  components/editor/TextEditor.tsx
  components/editor/article/UI/ArticleTitle.tsx
  components/editor/article/UI/SaveArticleButton.tsx
  components/editor/article/UI/ToolBox.tsx
  package.json
  public/icons/ic_Bold.svg
  public/icons/ic_H1.svg
  public/icons/ic_H2.svg
  public/icons/ic_H3.svg
  public/icons/ic_Italic.svg
  public/icons/ic_Strike.svg
  public/icons/icnBullet.svg
  public/icons/icnCode.svg
  public/icons/icnCodeblock.svg
  public/icons/icnHorizon.svg
  public/icons/icnLink.svg
  public/icons/icnOrder.svg
  public/icons/icnQuote.svg
  public/icons/icnUnderline.svg
  public/icons/icnimage.svg
  public/icons/index.ts
  styles/GlobalStyle.ts
  yarn.lock
Labels: feat, editor

#40 Feat/#38/dash board redesign
  components/dashboard/components/DashBoardFooter.tsx
  components/dashboard/components/DashBoardNav.tsx
  components/dashboard/components/ui/DashBoardConatiner.tsx
  components/dashboard/components/ui/DashBoardFooterContainer.tsx
  components/dashboard/components/ui/DashBoardNavBtnContainer.tsx
  components/dashboard/components/ui/DashBoardNavContainer.tsx
  components/dashboard/components/ui/DashBoardProfileContainer.tsx
  components/dashboard/components/ui/FooterPopOverMenuContainer.tsx
  components/dashboard/components/ui/Line.tsx
  components/dashboard/upload/components/UploadContent.tsx
  components/dashboard/upload/components/ui/PopOverMenu.tsx
  components/dashboard/upload/components/ui/UploadContentContainer.tsx
  components/dashboard/upload/components/ui/UploadHeaderContainer.tsx
  components/dashboard/upload/components/ui/UploadTemplateContainer.tsx
  public/images/Rectangle 65.png
  public/images/index.ts
Labels: feat, dashboard

#48 Feat/#45/dashboard layout
  app/[team]/dashboard/blogconfignav/page.tsx
  app/[team]/dashboard/category/page.tsx
  app/[team]/dashboard/member/page.tsx
  app/[team]/dashboard/nav/page.tsx
  app/[team]/dashboard/page/page.tsx
  app/[team]/dashboard/subscriber/page.tsx
  app/[team]/dashboard/tempsaved/page.tsx
  components/dashboard/DashBoardTemplate.tsx
  components/dashboard/components/DashBoardHeader.tsx
  components/dashboard/components/NavButton.tsx
  components/dashboard/components/ui/DashBoardConatiner.tsx
  components/dashboard/components/ui/DashBoardHeaderContainer.tsx
  components/dashboard/components/ui/DashBoardNavContainer.tsx
  components/dashboard/components/ui/HeaderContainer.tsx
  components/dashboard/components/ui/Line.tsx
  components/dashboard/components/ui/NavButtonContainer.tsx
  components/dashboard/upload/UploadTemplate.tsx
  components/dashboard/upload/components/UploadHeader.tsx
  components/dashboard/upload/components/ui/UploadTabBarContainer.tsx
  components/dashboard/upload/components/ui/UploadTemplateContainer.tsx
  constants/mapPageType2HeaderInfo.ts
Labels: dashboard, refactor

#43 Feat/#24/blog main page
  app/[team]/home/layout.tsx
  app/[team]/home/page.tsx
  components/blog/BlogImg.tsx
  components/blog/HeaderLogo.tsx
  components/blog/PageBtn.tsx
  components/blog/SubscribeBtn.tsx
  components/blog/UI/ArticleContainer.tsx
  components/blog/UI/ArticleImg.tsx
  components/blog/UI/ArticleList.tsx
  components/blog/UI/BlogNav.tsx
  components/blog/UI/CategoryBtnBar.tsx
  components/common/Article.tsx
  components/common/BlogFooter.tsx
  components/common/BlogHeader.tsx
  components/common/UI/FooterContact.tsx
  public/images/ArticleExample.png
  public/images/BlogImgExample.png
  public/images/index.ts
  types/article.tsx
Labels: feat, blog

#50 [Common] 팀원 초대 입력폼 공통 컴포넌트 구현
  components/common/ui/AddMemberForm.tsx
  components/common/ui/AddMemberInput.tsx
  components/common/ui/EmailBox.tsx
  components/create-blog/member/ui/CreateMemberLanding.tsx
  public/icons/ic_close.svg
  public/icons/index.ts
Labels: feat, common

#39 [Create Blog] 블로그 생성 - 기본 정보 뷰, 멤버 추가 뷰(일부) 퍼블리싱
  app/create-blog/info/page.tsx
  app/create-blog/member/page.tsx
  components/auth/LoginLanding.tsx
  components/common/ui/AddMemberForm.tsx
  components/common/ui/AddMemberInput.tsx
  components/common/ui/EmailBox.tsx
  components/create-blog/basic-info/CreateBlogInfo.tsx
  components/create-blog/basic-info/ui/CreateInfoLanding.tsx
  components/create-blog/basic-info/ui/ImageInputForm.tsx
  components/create-blog/basic-info/ui/InfoInputForm.tsx
  components/create-blog/basic-info/ui/InputTitle.tsx
  components/create-blog/basic-info/ui/TextInputForm.tsx
  components/create-blog/member/CreateBlogMember.tsx
  components/create-blog/member/ui/CreateMemberLanding.tsx
  public/icons/ic_close.svg
  public/icons/index.ts
Labels: feat, blog

#51 [Invite] 초대 수락 뷰 퍼블리싱
  app/invite/page.tsx
  components/invite/InviteLanding.tsx
  components/invite/ui/InputTitle.tsx
  components/invite/ui/InviteAcceptForm.tsx
  components/invite/ui/TextInputForm.tsx
  public/icons/index.ts
  public/icons/profilePhoto.svg
Labels: feat, invite

#54 Feat/#5/category
  app/[team]/dashboard/category/page.tsx
  app/[team]/dashboard/subscriber/page.tsx
  components/dashboard/category/CategoryContentList.tsx
  components/dashboard/category/CategoryTemplate.tsx
  components/dashboard/components/DashBoardContent.tsx
  components/dashboard/components/ui/CreatedAt.tsx
  components/dashboard/components/ui/DashBoardContentContainer.tsx
  components/dashboard/components/ui/Description.tsx
  components/dashboard/components/ui/Email.tsx
  components/dashboard/components/ui/IndexBarContainer.tsx
  components/dashboard/components/ui/NewsLetter.tsx
  components/dashboard/components/ui/Url.tsx
  components/dashboard/subscriber/SubscriberContentList.tsx
  components/dashboard/subscriber/SubscriberIndexBar.tsx
  components/dashboard/subscriber/SubscriberTemplate.tsx
  components/dashboard/upload/components/ui/PopOverMenu.tsx
  constants/mapPageType2HeaderInfo.ts
  hooks/useGetLastPathName.ts
  public/icons/ic_close_24.svg
  public/icons/index.ts
Labels: dashboard

#53 feat/#6/nav
  app/[team]/dashboard/category/page.tsx
  app/[team]/dashboard/nav/page.tsx
  app/[team]/dashboard/subscriber/page.tsx
  components/dashboard/category/CategoryContentList.tsx
  components/dashboard/category/CategoryTemplate.tsx
  components/dashboard/components/DashBoardContent.tsx
  components/dashboard/components/ui/Author.tsx
  components/dashboard/components/ui/Content.tsx
  components/dashboard/components/ui/CreatedAt.tsx
  components/dashboard/components/ui/DashBoardContentContainer.tsx
  components/dashboard/components/ui/Description.tsx
  components/dashboard/components/ui/Email.tsx
  components/dashboard/components/ui/IndexBarContainer.tsx
  components/dashboard/components/ui/NewsLetter.tsx
  components/dashboard/components/ui/Position.tsx
  components/dashboard/components/ui/Url.tsx
  components/dashboard/nav/NavContentList.tsx
  components/dashboard/nav/NavTemplate.tsx
  components/dashboard/subscriber/SubscriberContentList.tsx
  components/dashboard/subscriber/SubscriberIndexBar.tsx
  components/dashboard/subscriber/SubscriberTemplate.tsx
  components/dashboard/upload/components/ui/PopOverMenu.tsx
  constants/mapPageType2HeaderInfo.ts
  hooks/useGetLastPathName.ts
  public/icons/ic_close_24.svg
  public/icons/index.ts
Labels: feat, dashboard

#63 Feat/#61/blog info cherry pick
  app/[team]/dashboard/blog-basic-info/page.tsx
  components/dashboard/blogBasicInfo/BlogDeleteButton.tsx
  components/dashboard/blogBasicInfo/BlogDescribeText.tsx
  components/dashboard/blogBasicInfo/BlogLogoImage.tsx
  components/dashboard/blogBasicInfo/BlogMainImge.tsx
  components/dashboard/blogBasicInfo/BlogName.tsx
  components/dashboard/blogBasicInfo/BlogUrl.tsx
  constants/blogBasicInfoData.ts
  public/icons/ic_img_upload.svg
  public/icons/index.ts
  types/blogInfo.ts
Labels: bug, feat

#68 feat/#67: 디자인 시스템 변경사항 반영
  styles/style.d.ts
  styles/theme.ts
Labels: feat, theme

#66 [common] 대시보드 공통 modal 작업
  app/[team]/dashboard/blogconfignav/page.tsx
  app/[team]/dashboard/user-basic-info/page.tsx
  components/common/UI/DashboardDeleteModal.tsx
  components/dashboard/blogBasicInfo/BlogUrl.tsx
Labels: feat, common

#65 Feat/#26/blog article page
  app/[team]/content/[contentUrl]/layout.tsx
  app/[team]/content/[contentUrl]/page.tsx
  components/content/Content.tsx
  components/content/UI/ArticleBox.tsx
  components/content/UI/Bar.tsx
  components/content/UI/ContentInfo.tsx
  components/content/UI/LinkBtn.tsx
  components/content/UI/Recommend.tsx
  package.json
  public/images/BlogSample.png
  public/images/index.ts
  public/images/memberExample.png
  types/articleList.ts
  types/content.ts
  yarn.lock
Labels: feat, content

#80 [Common] axiosInstance 생성
  api/blog.ts
  api/index.ts
  app/layout.tsx
  components/create-blog/basic-info/CreateBlogInfo.tsx
  hooks/blog.ts
Labels: feat, common

#81 Feat/#79/editor common styling
  app/[team]/dashboard/basic-user-info/page.tsx
  app/[team]/home/layout.tsx
  public/icons/thumbnail_icon.svg
Labels: bug

#78 [commin]modal potal
  app/[team]/dashboard/basic-user-info/page.tsx
  app/[team]/editor/article/page.tsx
  app/[team]/editor/article/publish/page.tsx
  app/[team]/editor/page/publish/page.tsx
  app/[team]/home/[category]/page.tsx
  app/[team]/home/layout.tsx
  app/[team]/home/page.tsx
  app/layout.tsx
  components/blog/UI/ArticleContainer.tsx
  components/blog/UI/ArticleList.tsx
  components/common/ModalPotal.tsx
  components/common/UI/DashboardDeleteModal.tsx
  components/editor/article/UI/SaveArticleButton.tsx
  components/editor/article/publish/UI/CheckNewsLetter.tsx
  public/icons/index.ts
  public/icons/thumbnail_icon-1.svg
  public/icons/thumbnail_icon.svg
Labels: feat, common

#71 [블로그 생성] gui 컴포넌트 변경 반영 및 애니메이션 구현
  app/create-blog/info/page.tsx
  app/create-blog/member/page.tsx
  components/create-blog/basic-info/CreateBlogInfo.tsx
  components/create-blog/basic-info/ui/CreateInfoLanding.tsx
  components/create-blog/basic-info/ui/InfoInputForm.tsx
  components/create-blog/info/CreateBlogBasicInfo.tsx
  components/create-blog/info/ui/CreateBasicInfoLanding.tsx
  components/create-blog/info/ui/CreateBlogLanding.tsx
  components/create-blog/info/ui/CreateMemberLanding.tsx
  components/create-blog/info/ui/CreateOptionInfoLanding.tsx
  components/create-blog/info/ui/ImageInputForm.tsx
  components/create-blog/info/ui/InputTitle.tsx
  components/create-blog/info/ui/ProgressDot.tsx
  components/create-blog/info/ui/TextInputForm.tsx
  components/create-blog/member/CreateBlogMember.tsx
  components/create-blog/member/ui/CreateMemberLanding.tsx
  public/icons/ic_upload.svg
  public/icons/index.ts
  types/progress.ts
Labels: feat, blog

#74 Feat/#72/dash board GUI => context 추가
  app/[team]/dashboard/[pageType]/page.tsx
  components/dashboard/DashBoardTemplate.tsx
  components/dashboard/category/CategoryContentList.tsx
  components/dashboard/components/DashBoardContent.tsx
  components/dashboard/components/NavButton.tsx
  components/dashboard/components/ui/DashBoardContentContainer.tsx
  components/dashboard/context/dashboardContext.tsx
  components/dashboard/nav/NavContentList.tsx
  components/dashboard/page/PageContentList.tsx
  components/dashboard/subscriber/SubscriberContentList.tsx
  components/dashboard/tempsaved/TempsavedContentList.tsx
  components/dashboard/upload/components/UploadContentList.tsx
  constants/mockUploadList.ts
  types/dashboard.ts
Labels: feat, dashboard, GUI

#77 Feat/#76/style g UI
  app/[team]/dashboard/blogconfignav/page.tsx
  components/dashboard/components/BlogList.tsx
  components/dashboard/components/DashBoardFooter.tsx
  components/dashboard/components/DashBoardNav.tsx
  components/dashboard/components/DashBoardTitle.tsx
  components/dashboard/components/ui/BlogListContainer.tsx
  components/dashboard/components/ui/DashBoardContentContainer.tsx
  components/dashboard/components/ui/DashBoardProfileContainer.tsx
  components/dashboard/components/ui/HeaderContainer.tsx
  components/dashboard/components/ui/IndivBlog.tsx
  components/dashboard/components/ui/MakeNewBlogContainer.tsx
  components/dashboard/components/ui/SideBarContent.tsx
  components/dashboard/components/ui/TabType.tsx
  components/dashboard/components/ui/Url.tsx
  components/dashboard/upload/UploadTemplate.tsx
  components/dashboard/upload/components/UploadContentList.tsx
  components/dashboard/upload/components/UploadTabBar.tsx
  components/dashboard/upload/components/ui/PopOverMenu.tsx
  components/dashboard/upload/components/ui/UploadTabBarContainer.tsx
  constants/mockUploadList.ts
  public/icons/ic_plus.svg
  public/icons/index.ts
Labels: enhancement, feat, dashboard, GUI

#87 Hotfix/foldernaming
  app/[team]/content/[contentUrl]/page.tsx
  app/[team]/dashboard/basic-user-info/page.tsx
  app/[team]/editor/article/page.tsx
  app/[team]/editor/article/publish/page.tsx
  app/[team]/editor/page/publish/page.tsx
  app/[team]/home/page.tsx
  components/author/AuthorPageTemplate.tsx
  components/author/ui/ArticleBox.tsx
  components/author/ui/ArticleList.tsx
  components/author/ui/AuthorInfo.tsx
  components/author/ui/AuthorProfile.tsx
  components/blog/ui/ArticleContainer.tsx
  components/blog/ui/ArticleImg.tsx
  components/blog/ui/ArticleList.tsx
  components/blog/ui/BlogNav.tsx
  components/blog/ui/CategoryBtnBar.tsx
  components/common/Article.tsx
  components/common/BlogFooter.tsx
  components/common/BlogHeader.tsx
  components/common/ui/DashboardDeleteModal.tsx
  components/common/ui/FooterContact.tsx
  components/content/ui/ArticleBox.tsx
  components/content/ui/Bar.tsx
  components/content/ui/ContentInfo.tsx
  components/content/ui/LinkBtn.tsx
  components/content/ui/Recommend.tsx
  components/dashboard/BasicUserInfo/ui/DeleteButton.tsx
  components/dashboard/BasicUserInfo/ui/UserId.tsx
  components/dashboard/BasicUserInfo/ui/UserInfoSaveButton.tsx
  components/dashboard/BasicUserInfo/ui/UserName.tsx
  components/dashboard/BasicUserInfo/ui/UserOneLiner.tsx
  components/dashboard/BasicUserInfo/ui/UserPosition.tsx
  components/dashboard/BasicUserInfo/ui/UserProfile.tsx
  components/editor/article/publish/ui/CategorySelect.tsx
  components/editor/article/publish/ui/OneLiner.tsx
  components/editor/article/publish/ui/PublishBottom.tsx
  components/editor/article/publish/ui/PublishTitle.tsx
  components/editor/article/publish/ui/ThumbnailInput.tsx
  components/editor/article/publish/ui/UrlCustom.tsx
  components/editor/article/ui/ArticleTitle.tsx
  components/editor/article/ui/SaveArticleButton.tsx
  components/editor/article/ui/ToolBox.tsx
Labels: hotfix

#84 Feat/#83/blog category page
  app/[team]/home/[category]/page.tsx
  components/blog/ui/ArticleList.tsx
  components/blog/ui/CategoryBtnBar.tsx
  hooks/useGetCategory.ts
Labels: feat, blog

#88 Feat/#85/dash board api
  api/article.ts
  api/auth.ts
  api/dashboard.ts
  components/auth/LoginLanding.tsx
  components/auth/RequestAccessToken.ts
  components/author/ui/AuthorInfo.tsx
  components/common/Article.tsx
  components/content/ui/ArticleBox.tsx
  components/content/ui/ContentInfo.tsx
  components/create-blog/info/ui/CreateBasicInfoLanding.tsx
  components/dashboard/category/CategoryContentList.tsx
  components/dashboard/components/DashBoardHeader.tsx
  components/dashboard/components/NavButton.tsx
  components/dashboard/nav/NavContentList.tsx
  components/dashboard/page/PageContentList.tsx
  components/dashboard/upload/UploadTemplate.tsx
  components/dashboard/upload/components/UploadContentList.tsx
  components/dashboard/upload/components/UploadTabBar.tsx
  components/dashboard/upload/components/ui/PopOverMenu.tsx
  constants/ArticleContent.ts
  constants/blogBasicInfoData.ts
  constants/mapPageType2Component.tsx
  constants/mapPageType2HeaderInfo.ts
  constants/mockUploadList.ts
  hooks/article.ts
  hooks/auth.ts
  hooks/blog.ts
  hooks/dashboard.ts
  hooks/useGetLastPathName.ts
  hooks/useGetLiteralCategoryList.ts
  tsconfig.json
  types/article.d.ts
  types/article.ts
  types/articleList.d.ts
  types/auth.d.ts
  types/author.d.ts
  types/blogInfo.d.ts
  types/common.d.ts
  types/content.d.ts
  types/dashboard.d.ts
  types/dashboard.ts
  types/editorContent.d.ts
  types/progress.d.ts
  types/user.d.ts
Labels: feat, dashboard, api

#89 Feat/#16/team member page
  app/[team]/dashboard/member/page.tsx
  components/common/ModalPortal.tsx
  components/common/ui/AddMemberForm.tsx
  components/common/ui/DashboardDeleteModal.tsx
  components/dashboard/member/PopOver.tsx
  components/dashboard/member/ui/CancelInviteModal.tsx
  components/dashboard/member/ui/DeleteMemberModal.tsx
  components/dashboard/member/ui/Manager.tsx
  components/dashboard/member/ui/Member.tsx
  components/dashboard/member/ui/MemberBox.tsx
  components/dashboard/member/ui/MemberList.tsx
  components/dashboard/member/ui/MemberListHeader.tsx
  components/dashboard/member/ui/MemberTemplate.tsx
  components/dashboard/member/ui/Pending.tsx
  components/editor/article/ui/SaveArticleButton.tsx
  package.json
  public/icons/ic_user.svg
  public/icons/index.ts
  types/cancelInvite.ts
  types/deleteMember.ts
  types/member.ts
  yarn.lock
Labels: feat, dashboard

#92 [블로그 생성] gui 반영
  api/blog.ts
  components/common/ui/AddMemberInput.tsx
  components/common/ui/EmailBox.tsx
  components/create-blog/info/ui/CreateBasicInfoLanding.tsx
  components/create-blog/info/ui/CreateBlogLanding.tsx
  components/create-blog/info/ui/CreateMemberLanding.tsx
  components/create-blog/info/ui/ImageInputForm.tsx
  components/create-blog/info/ui/ProgressDot.tsx
  components/create-blog/info/ui/TextInputForm.tsx
  components/create-blog/info/ui/basicInfo/CreateBasicInfoLanding.tsx
  components/create-blog/info/ui/basicInfo/InputMessage.tsx
  components/create-blog/info/ui/member/CreateMemberLanding.tsx
  components/create-blog/info/ui/optionInfo/CreateOptionInfoLanding.tsx
  package.json
  public/icons/ic_close.svg
  public/icons/index.ts
  public/icons/loader-01.svg
  styles/GlobalStyle.ts
  utils/checkUrlDuplication.ts
  yarn.lock
Labels: feat, blog

#98 type: 전역 타입 설정 완료
  api/article.ts
  api/auth.ts
  api/dashboard.ts
  components/auth/LoginLanding.tsx
  components/auth/RequestAccessToken.ts
  components/author/ui/AuthorInfo.tsx
  components/blog/ui/ArticleList.tsx
  components/common/Article.tsx
  components/content/ui/ArticleBox.tsx
  components/content/ui/ContentInfo.tsx
  components/dashboard/components/DashBoardHeader.tsx
  components/dashboard/components/NavButton.tsx
  components/dashboard/upload/UploadTemplate.tsx
  components/dashboard/upload/components/UploadContentList.tsx
  components/dashboard/upload/components/UploadTabBar.tsx
  components/dashboard/upload/components/ui/PopOverMenu.tsx
  constants/ArticleContent.ts
  constants/blogBasicInfoData.ts
  constants/mapPageType2Component.tsx
  constants/mapPageType2HeaderInfo.ts
  constants/mockUploadList.ts
  hooks/auth.ts
  hooks/useGetLastPathName.ts
  hooks/useGetLiteralCategoryList.ts
  tsconfig.json
  types/article.ts
  types/articleList.ts
  types/auth.ts
  types/author.ts
  types/blogInfo.ts
  types/common.ts
  types/content.ts
  types/dashboard.ts
  types/editorContent.ts
  types/progress.ts
  types/user.ts
Labels: dashboard, api

#99 Feat/#97/markdown img link
  app/[team]/editor/article/page.tsx
  components/common/ModalPortal.tsx
  components/editor/TextEditor.tsx
  components/editor/TextEditorImport.tsx
  components/editor/article/publish/ScrollTopToolbar.tsx
  components/editor/article/ui/SaveArticleButton.tsx
  components/editor/article/ui/ToolBox.tsx
  package.json
  styles/GlobalStyle.ts
  tsconfig.json
  yarn.lock
Labels: feat, editor

#101 Feat/#95/modal api
  api/dashboard.ts
  app/layout.tsx
  components/common/ui/DashboardCreateModal.tsx
  components/common/ui/DashboardDeleteModal.tsx
  components/dashboard/DashBoardTemplate.tsx
  components/dashboard/category/CategoryContentList.tsx
  components/dashboard/category/CategoryTemplate.tsx
  components/dashboard/components/DashBoardContent.tsx
  components/dashboard/components/DashBoardHeader.tsx
  components/dashboard/components/ui/HeaderContainer.tsx
  components/dashboard/components/ui/ModalPortalContainer.tsx
  components/dashboard/components/ui/ModalTextAreaContainer.tsx
  components/dashboard/nav/NavContentList.tsx
  components/dashboard/nav/NavTemplate.tsx
  components/dashboard/nav/NavUrlInput.tsx
  components/dashboard/nav/NewNavigationModal.tsx
  components/dashboard/nav/ui/NavSelectorContainer.tsx
  components/dashboard/nav/ui/NavUrlInputContainer.tsx
  components/dashboard/nav/ui/TextInput.tsx
  components/dashboard/nav/ui/UrlInputContainer.tsx
  components/dashboard/page/PageContentList.tsx
  components/dashboard/state/modalState.ts
  components/dashboard/tempsaved/TempsavedContentList.tsx
  components/dashboard/upload/UploadTemplate.tsx
  components/dashboard/upload/components/UploadContentList.tsx
  components/dashboard/upload/components/UploadTabBar.tsx
  components/dashboard/upload/components/ui/UploadTabBarContainer.tsx
  constants/mapPageType2HeaderInfo.ts
  constants/mockUploadList.ts
  hooks/dashboard.ts
  package.json
  types/modalState.d.ts
  utils/getLiteralCategoryList.ts
  yarn.lock
Labels: dashboard, api

#94 Feat/#91/dashboard modal and api
  api/dashboard.ts
  app/layout.tsx
  components/common/ui/DashboardCreateModal.tsx
  components/common/ui/DashboardDeleteModal.tsx
  components/dashboard/DashBoardTemplate.tsx
  components/dashboard/category/CategoryContentList.tsx
  components/dashboard/category/CategoryTemplate.tsx
  components/dashboard/components/DashBoardHeader.tsx
  components/dashboard/components/ui/HeaderContainer.tsx
  components/dashboard/components/ui/ModalPortalContainer.tsx
  components/dashboard/components/ui/ModalTextAreaContainer.tsx
  components/dashboard/nav/NavContentList.tsx
  components/dashboard/nav/NavTemplate.tsx
  components/dashboard/nav/NavUrlInput.tsx
  components/dashboard/nav/NewNavigationModal.tsx
  components/dashboard/nav/ui/NavSelectorContainer.tsx
  components/dashboard/nav/ui/NavUrlInputContainer.tsx
  components/dashboard/nav/ui/TextInput.tsx
  components/dashboard/nav/ui/UrlInputContainer.tsx
  components/dashboard/page/PageContentList.tsx
  components/dashboard/state/modalState.ts
  components/dashboard/tempsaved/TempsavedContentList.tsx
  components/dashboard/upload/UploadTemplate.tsx
  components/dashboard/upload/components/UploadContentList.tsx
  components/dashboard/upload/components/UploadTabBar.tsx
  components/dashboard/upload/components/ui/ModalInputText.tsx
  components/dashboard/upload/components/ui/UploadTabBarContainer.tsx
  constants/mapPageType2HeaderInfo.ts
  constants/mockUploadList.ts
  hooks/article.ts
  hooks/dashboard.ts
  package.json
  types/dashboard.ts
  types/modalState.d.ts
  utils/getLiteralCategoryList.ts
  yarn.lock
Labels: dashboard, api

#107 Feat/#90/blog GUI
  api/article.ts
  app/[team]/content/[contentUrl]/layout.tsx
  app/[team]/content/[contentUrl]/page.tsx
  app/[team]/home/layout.tsx
  components/author/AuthorPageTemplate.tsx
  components/author/ui/ArticleBox.tsx
  components/author/ui/ArticleList.tsx
  components/blog/BlogImg.tsx
  components/blog/HeaderLogo.tsx
  components/blog/PageBtn.tsx
  components/blog/SubscribeBtn.tsx
  components/blog/ui/ArticleContainer.tsx
  components/blog/ui/ArticleList.tsx
  components/blog/ui/BlogNav.tsx
  components/blog/ui/CategoryBtnBar.tsx
  components/common/Article.tsx
  components/common/ArticleList.tsx
  components/common/BlogFooter.tsx
  components/common/BlogHeader.tsx
  components/common/BlogNav.tsx
  components/common/ContentInfo.tsx
  components/common/HeaderLogo.tsx
  components/common/ui/FooterContact.tsx
  components/content/Content.tsx
  components/content/ui/ArticleBox.tsx
  components/content/ui/ContentInfo.tsx
  components/content/ui/LinkBtn.tsx
  components/dashboard/member/ui/Member.tsx
  components/dashboard/member/ui/MemberList.tsx
  components/dashboard/upload/components/UploadContentList.tsx
  constants/ContentInfo.ts
  constants/articleList.ts
  constants/blogHeader.ts
  constants/blogInfo.ts
  hooks/useGetIfContentPage.ts
  package.json
  public/icons/ic_no_user_profile.svg
  public/icons/index.ts
  styles/theme.ts
  types/article.ts
  types/blogImg.ts
  types/content.ts
  types/header.d.ts
  yarn.lock
Labels: blog, author, content, GUI

#109 [create blog] api 연결
  api/blog.ts
  app/layout.tsx
  components/create-blog/info/states/atom.ts
  components/create-blog/info/ui/CreateBlogLanding.tsx
  components/create-blog/info/ui/ImageInputForm.tsx
  components/create-blog/info/ui/ProgressDot.tsx
  components/create-blog/info/ui/basicInfo/CreateBasicInfoLanding.tsx
  components/create-blog/info/ui/member/CreateMemberLanding.tsx
  components/create-blog/info/ui/optionInfo/CreateOptionInfoLanding.tsx
  constants/auth.ts
  types/blogInfo.ts
  utils/getImageMultipartData.ts
Labels: blog, api

#118 Feat/#117/user basic info GUI
  app/[team]/dashboard/basicuserinfo/page.tsx
  app/[team]/editor/article/page.tsx
  components/dashboard/BasicUserInfo/ui/DeleteButton.tsx
  components/dashboard/BasicUserInfo/ui/IdInputForm.tsx
  components/dashboard/BasicUserInfo/ui/UserId.tsx
  components/dashboard/BasicUserInfo/ui/UserName.tsx
  components/dashboard/BasicUserInfo/ui/UserOneLiner.tsx
  components/dashboard/BasicUserInfo/ui/UserPosition.tsx
  components/dashboard/BasicUserInfo/ui/UserProfile.tsx
  components/editor/TextEditorImport.tsx
  public/icons/ic_deleteprofileimage.svg
  public/icons/ic_profile_input_icon.svg
  public/icons/ic_uploadprofileimage.svg
  public/icons/index.ts
Labels: dashboard, GUI

#119 Feat/#104/dashboard remain tasks
  api/blog.ts
  api/dashboard.ts
  components/common/ui/EmptyLanding.tsx
  components/dashboard/DashBoardTemplate.tsx
  components/dashboard/category/CategoryContentList.tsx
  components/dashboard/components/BlogList.tsx
  components/dashboard/components/DashBoardFooter.tsx
  components/dashboard/components/DashBoardHeader.tsx
  components/dashboard/components/DashBoardNav.tsx
  components/dashboard/components/DashBoardTitle.tsx
  components/dashboard/components/NavButton.tsx
  components/dashboard/components/ui/BlogLogo.tsx
  components/dashboard/components/ui/DashBoardProfileContainer.tsx
  components/dashboard/components/ui/HeaderContainer.tsx
  components/dashboard/components/ui/IndivBlog.tsx
  components/dashboard/components/ui/NavButtonContainer.tsx
  components/dashboard/member/ui/MemberTemplate.tsx
  components/dashboard/nav/NavContentList.tsx
  components/dashboard/page/PageContentList.tsx
  components/dashboard/state/modalState.ts
  components/dashboard/tempsaved/TempsavedContentList.tsx
  components/dashboard/upload/UploadTemplate.tsx
  components/dashboard/upload/components/UploadContentList.tsx
  components/dashboard/upload/components/ui/PopOverMenu.tsx
  constants/mapPageType2Component.tsx
  hooks/dashboard.ts
  hooks/useGetLastPathName.ts
  public/icons/index.ts
  public/icons/tempsaved.svg
Labels: dashboard, api

#120 [로그인, err, loading 처리]
  api/article.ts
  api/auth.ts
  api/blog.ts
  api/common.ts
  api/dashboard.ts
  api/index.ts
  app/not-found.tsx
  components/auth/AuthRequired.tsx
  components/auth/RequestAccessToken.ts
  components/auth/states/atom.ts
  components/common/ui/LoadingLottie.tsx
  components/loading/LoadingLanding.tsx
  public/lottie/loaderLottie.json
Labels: feat

#122 Feat/#108/blog api
  api/article.ts
  api/author.ts
  api/blog.ts
  api/content.ts
  api/dashboard.ts
  app/[team]/author/[authorId]/layout.tsx
  app/[team]/author/[authorId]/page.tsx
  app/[team]/content/[contentUrl]/layout.tsx
  app/[team]/content/[contentUrl]/page.tsx
  app/[team]/dashboard/member/page.tsx
  app/[team]/home/[category]/page.tsx
  app/[team]/home/layout.tsx
  app/[team]/home/page.tsx
  components/author/AuthorPageTemplate.tsx
  components/author/ui/AuthorInfo.tsx
  components/author/ui/AuthorProfile.tsx
  components/blog/BlogImg.tsx
  components/blog/ui/ArticleContainer.tsx
  components/blog/ui/CategoryBtnBar.tsx
  components/common/Article.tsx
  components/common/BlogHeader.tsx
  components/common/BlogNav.tsx
  components/common/ContentInfo.tsx
  components/common/HeaderLogo.tsx
  components/content/Content.tsx
  components/content/ContentTemplate.tsx
  components/dashboard/member/PopOver.tsx
  components/dashboard/member/ui/Member.tsx
  components/dashboard/member/ui/MemberList.tsx
  components/dashboard/member/ui/MemberTemplate.tsx
  constants/ContentInfo.ts
  next.config.js
  types/author.ts
  types/blogHeader.ts
  types/blogImg.ts
  types/blogMainImg.ts
  types/content.ts
  types/header.d.ts
  types/member.ts
Labels: blog, author, content, api

#130 feat/에디터, 발행 페이지 세부사항 수정
  api/article.ts
  api/page.ts
  app/[team]/editor/article/page.tsx
  app/[team]/editor/article/publish/page.tsx
  app/[team]/editor/page/page.tsx
  app/[team]/editor/page/publish/page.tsx
  app/[team]/home/[category]/page.tsx
  components/auth/states/atom.ts
  components/common/Article.tsx
  components/content/ui/ArticleBox.tsx
  components/content/ui/Recommend.tsx
  components/dashboard/BasicUserInfo/ui/UserProfile.tsx
  components/dashboard/upload/components/UploadContentList.tsx
  components/editor/TextEditorImport.tsx
  components/editor/article/publish/ui/CategorySelect.tsx
  components/editor/article/publish/ui/PublishBottom.tsx
  components/editor/article/publish/ui/PublishTitle.tsx
  components/editor/article/publish/ui/ThumbnailInput.tsx
  components/editor/article/ui/ArticleTitle.tsx
  components/editor/article/ui/SaveArticleButton.tsx
  constants/articleList.ts
  types/article.ts
Labels: api

#137 Feat/#134/recommend article
  components/common/Article.tsx
  components/content/ui/ArticleBox.tsx
  components/content/ui/Recommend.tsx
Labels: content, api

#139 feat/#135: disabled
  api/dashboard.ts
  app/[team]/editor/article/publish/page.tsx
  components/dashboard/BasicUserInfo/ui/UserProfile.tsx
  components/editor/article/publish/ui/PublishBottom.tsx
  components/editor/article/states/atom.ts
  constants/mapPageType2HeaderInfo.ts
Labels: api

#141 Feat/#138/scroll top
  app/[team]/home/page.tsx
  components/author/AuthorPageTemplate.tsx
  components/author/ui/AuthorInfo.tsx
  components/blog/ui/ArticleContainer.tsx
  components/common/Article.tsx
  components/common/BlogFooter.tsx
  components/common/ContentInfo.tsx
  components/content/ContentTemplate.tsx
Labels: common, author

#146 Feat/#142/content url change
  api/page.ts
  app/[team]/content/[contentUrl]/page.tsx
  app/[team]/content/article/[articleUrl]/[articleId]/layout.tsx
  app/[team]/content/article/[articleUrl]/[articleId]/page.tsx
  app/[team]/content/page/[pageUrl]/[pageId]/layout.tsx
  app/[team]/content/page/[pageUrl]/[pageId]/page.tsx
  components/common/Article.tsx
  components/common/BlogNav.tsx
  components/common/ContentInfo.tsx
  components/content/ui/ArticleTemplate.tsx
  components/content/ui/PageTemplate.tsx
  hooks/blog.ts
  types/blogHeader.ts
Labels: content, api

#156 feat/#153: page content 요청 api 관련 수정
  app/[team]/content/article/[articleUrl]/[articleId]/page.tsx
  app/[team]/content/page/[pageUrl]/[pageId]/page.tsx
Labels: blog, fix
