Repository palm-springs/PalmSpringClient, pull requests merged in 2023-08, with the labels that each got.

#163 Feat/#162/dashboard routing
  components/dashboard/category/CategoryContentList.tsx
  components/dashboard/components/ui/DashBoardContentContainer.tsx
  components/dashboard/nav/NavContentList.tsx
  components/dashboard/upload/UploadTemplate.tsx
  components/dashboard/upload/components/ui/PopOverMenu.tsx
Labels: dashboard, router, QA

#161 Feat/#160/dashboard qa
  components/dashboard/blogBasicInfo/BlogConfigTemplate.tsx
  components/dashboard/blogBasicInfo/BlogDescribeText.tsx
  components/dashboard/blogBasicInfo/BlogLogoImage.tsx
  components/dashboard/blogBasicInfo/BlogMainImge.tsx
  components/dashboard/blogBasicInfo/BlogName.tsx
  components/dashboard/blogBasicInfo/BlogUrl.tsx
  components/dashboard/components/DashBoardNavBtn.tsx
  components/dashboard/components/ui/DashBoardNavBtnContainer.tsx
  components/dashboard/components/ui/FooterPopOverMenuContainer.tsx
  constants/blogBasicInfoData.ts
Labels: dashboard, QA

#164 Feat/#159/editor QA & 폴더 구조 변경
  app/[team]/editor/article/page.tsx
  app/[team]/editor/article/publish/page.tsx
  app/[team]/editor/page/page.tsx
  app/[team]/editor/page/publish/page.tsx
  components/common/Article.tsx
  components/editor/TextEditor.tsx
  components/editor/TextEditorImport.tsx
  components/editor/publish/ui/CategorySelect.tsx
  components/editor/publish/ui/OneLiner.tsx
  components/editor/publish/ui/PublishBottom.tsx
  components/editor/publish/ui/PublishInputForm.tsx
  components/editor/publish/ui/PublishTitle.tsx
  components/editor/publish/ui/ThumbnailInput.tsx
  components/editor/publish/ui/UrlCustom.tsx
  components/editor/states/atom.ts
  components/editor/ui/EditorInputTitle.tsx
  components/editor/ui/SaveEditorContentButton.tsx
  components/editor/ui/ToolBox.tsx
  components/editor/ui/TopToolBox.tsx
  styles/GlobalStyle.ts
  styles/TextEditorStyle.ts
Labels: editor, refactor, QA

#167 Feat/#166/dashboard g UI
  .github/workflows/build.yml
  components/dashboard/category/CategoryContentList.tsx
  components/dashboard/components/DashBoardContent.tsx
  components/dashboard/components/ui/Author.tsx
  components/dashboard/components/ui/Content.tsx
  components/dashboard/components/ui/DashBoardContentContainer.tsx
  components/dashboard/components/ui/Draft.tsx
  components/dashboard/components/ui/Position.tsx
  components/dashboard/components/ui/TabType.tsx
  components/dashboard/nav/NavContentList.tsx
  components/dashboard/page/PageContentList.tsx
  components/dashboard/subscriber/SubscriberContentList.tsx
  components/dashboard/subscriber/SubscriberIndexBar.tsx
  components/dashboard/tempsaved/TempsavedContentList.tsx
  components/dashboard/upload/components/UploadContentList.tsx
  components/dashboard/upload/components/UploadTabBar.tsx
  components/dashboard/upload/components/ui/PopOverMenu.tsx
  components/dashboard/upload/components/ui/UploadTabBarContainer.tsx
  sonar-project.properties
  utils/sonarqubeTest.ts
Labels: dashboard, refactor, QA

#176 Feat/#170/nav category ud
  api/dashboard.ts
  components/dashboard/components/DashBoardContent.tsx
  components/dashboard/components/ui/DashBoardContentContainer.tsx
  components/dashboard/nav/IndivNavDashboardContent.tsx
  components/dashboard/nav/NavContentList.tsx
  components/dashboard/nav/UpdateNavigationModal.tsx
  components/dashboard/nav/ui/NavSelectorContainer.tsx
  components/dashboard/upload/components/ui/PopOverMenu.tsx
  hooks/dashboard.ts
  types/dashboard.ts
  types/modalState.d.ts
Labels: dashboard, api

#171 Qa/#166/new qa
  components/create-blog/success/LoginSuccessLanding.tsx
  components/dashboard/components/ui/Author.tsx
  components/dashboard/components/ui/DashBoardContentContainer.tsx
  components/dashboard/components/ui/DashBoardFooterContainer.tsx
  components/dashboard/components/ui/DashBoardProfileContainer.tsx
  components/dashboard/components/ui/Email.tsx
  components/dashboard/components/ui/FooterPopOverMenuContainer.tsx
  components/dashboard/components/ui/HeaderContainer.tsx
  components/dashboard/components/ui/IndivBlog.tsx
  components/dashboard/components/ui/MakeNewBlogContainer.tsx
  components/dashboard/components/ui/NewsLetter.tsx
  components/dashboard/components/ui/SideBarContent.tsx
  components/dashboard/upload/UploadTemplate.tsx
  components/dashboard/upload/components/UploadContentList.tsx
  components/dashboard/upload/components/ui/PopOverMenu.tsx
  components/dashboard/upload/components/ui/UploadTabBarContainer.tsx
Labels: dashboard, GUI, QA

#169 Feat/#168/dashboard api
  api/blog.ts
  api/dashboard.ts
  api/user.ts
  components/dashboard/DashBoardTemplate.tsx
  components/dashboard/blogBasicInfo/BlogConfigTemplate.tsx
  components/dashboard/blogBasicInfo/BlogDeleteButton.tsx
  components/dashboard/components/BlogList.tsx
  components/dashboard/components/DashBoardFooter.tsx
  components/dashboard/components/DashBoardTitle.tsx
  hooks/blog.ts
  hooks/dashboard.ts
  hooks/user.ts
  types/user.ts
Labels: dashboard, api

#172 Feat/#165/basic user info refactor
  app/[team]/dashboard/basicuserinfo/page.tsx
  components/dashboard/BasicUserInfo/ui/IdInputForm.tsx
  components/dashboard/BasicUserInfo/ui/UserId.tsx
  components/dashboard/BasicUserInfo/ui/UserName.tsx
  components/dashboard/BasicUserInfo/ui/UserOneLiner.tsx
  components/dashboard/BasicUserInfo/ui/UserPosition.tsx
Labels: dashboard, GUI

#180 Feat/#177/category ud
  api/blog.ts
  api/dashboard.ts
  components/content/ui/ArticleTemplate.tsx
  components/content/ui/PageTemplate.tsx
  components/dashboard/DashBoardTemplate.tsx
  components/dashboard/blogBasicInfo/BlogConfigTemplate.tsx
  components/dashboard/blogBasicInfo/BlogLogoImage.tsx
  components/dashboard/blogBasicInfo/BlogMainImge.tsx
  components/dashboard/blogBasicInfo/BlogName.tsx
  components/dashboard/category/CategoryContentList.tsx
  components/dashboard/category/CategoryTemplate.tsx
  components/dashboard/category/IndivCategoryDashboardContent.tsx
  components/dashboard/category/UpdateCategoryModal.tsx
  components/dashboard/components/DashBoardTitle.tsx
  components/dashboard/components/NavButton.tsx
  components/dashboard/components/ui/Content.tsx
  components/dashboard/components/ui/CreatedAt.tsx
  components/dashboard/components/ui/DashBoardConatiner.tsx
  components/dashboard/components/ui/DashBoardContentContainer.tsx
  components/dashboard/components/ui/DashBoardHeaderContainer.tsx
  components/dashboard/components/ui/DashBoardNavContainer.tsx
  components/dashboard/components/ui/Email.tsx
  components/dashboard/components/ui/Position.tsx
  components/dashboard/components/ui/TabType.tsx
  components/dashboard/nav/IndivNavDashboardContent.tsx
  components/dashboard/nav/NavUrlInput.tsx
  components/dashboard/nav/NewNavigationModal.tsx
  components/dashboard/nav/UpdateNavigationModal.tsx
  components/dashboard/nav/ui/NavSelectorContainer.tsx
  components/dashboard/page/IndivPageContent.tsx
  components/dashboard/page/PageContentList.tsx
  components/dashboard/tempsaved/IndivTempsavedContentList.tsx
  components/dashboard/tempsaved/TempsavedContentList.tsx
  components/dashboard/upload/components/IndivUploadContentList.tsx
  components/dashboard/upload/components/UploadContentList.tsx
  hooks/article.ts
  hooks/dashboard.ts
  types/dashboard.ts
  types/modalState.d.ts
Labels: dashboard, api

#179 Feat/#158/article thumbnail fix
  app/[team]/author/[authorId]/layout.tsx
  app/[team]/content/article/[articleUrl]/[articleId]/layout.tsx
  app/[team]/content/page/[pageUrl]/[pageId]/layout.tsx
  app/[team]/home/layout.tsx
  components/blog/BlogImg.tsx
  components/blog/ui/ArticleContainer.tsx
  components/common/Article.tsx
  components/common/BlogFooter.tsx
  components/common/BlogHeader.tsx
  components/common/BlogNav.tsx
  components/common/ContentInfo.tsx
  components/common/ui/FooterContact.tsx
  components/content/Content.tsx
  components/content/ui/ArticleTemplate.tsx
  components/content/ui/PageTemplate.tsx
  types/blogHeader.ts
Labels: blog, content, QA

#186 Feat/#185/dashboard fix
  components/auth/RequestAccessToken.ts
  components/dashboard/DashBoardTemplate.tsx
  components/dashboard/components/BlogList.tsx
  components/dashboard/components/ui/BlogListContainer.tsx
  components/dashboard/components/ui/DashBoardProfileContainer.tsx
  hooks/blog.ts
Labels: dashboard, GUI, api, QA

#194 feat/#190: path 수정 (api v2)
  api/article.ts
  api/page.ts
  hooks/article.ts
Labels: api

#197 Feat/#193/api path v2
  api/article.ts
  api/author.ts
  api/blog.ts
  api/blogHome.ts
  api/content.ts
  api/page.ts
  app/[team]/page.tsx
  app/author/[authorId]/layout.tsx
  app/author/[authorId]/page.tsx
  app/content/article/[articleUrl]/[articleId]/layout.tsx
  app/content/article/[articleUrl]/[articleId]/page.tsx
  app/content/page/[pageUrl]/[pageId]/layout.tsx
  app/content/page/[pageUrl]/[pageId]/page.tsx
  app/home/[category]/page.tsx
  app/home/layout.tsx
  app/home/page.tsx
  components/blog/ui/ArticleContainer.tsx
  components/blog/ui/ArticleListWithThumbnail.tsx
  hooks/article.ts
  hooks/author.ts
  hooks/blog.ts
  hooks/blogHome.ts
  hooks/dashboard.ts
Labels: blog, author, content, api

#202 feat/#201: 블로그 url 포함 api 변경
  api/blogHome.ts
  app/[team]/author/[authorId]/layout.tsx
  app/[team]/author/[authorId]/page.tsx
  app/[team]/content/article/[articleUrl]/[articleId]/layout.tsx
  app/[team]/content/article/[articleUrl]/[articleId]/page.tsx
  app/[team]/content/page/[pageUrl]/[pageId]/layout.tsx
  app/[team]/content/page/[pageUrl]/[pageId]/page.tsx
  app/[team]/home/[category]/page.tsx
  app/[team]/home/layout.tsx
  app/[team]/home/page.tsx
  components/blog/ui/ArticleContainer.tsx
  components/blog/ui/ArticleListWithThumbnail.tsx
  hooks/blogHome.ts
Labels: api

#200 Feat/#187/left tasks on dashboard
  components/dashboard/BasicUserInfo/ui/UserId.tsx
  components/dashboard/BasicUserInfo/ui/UserName.tsx
  components/dashboard/BasicUserInfo/ui/UserOneLiner.tsx
  components/dashboard/BasicUserInfo/ui/UserPosition.tsx
  components/dashboard/blogBasicInfo/BlogConfigTemplate.tsx
  components/dashboard/blogBasicInfo/BlogDeleteButton.tsx
  components/dashboard/blogBasicInfo/BlogDescribeText.tsx
  components/dashboard/blogBasicInfo/BlogLogoImage.tsx
  components/dashboard/blogBasicInfo/BlogMainImge.tsx
  components/dashboard/blogBasicInfo/BlogName.tsx
  components/dashboard/blogBasicInfo/BlogSaveButton.tsx
  components/dashboard/category/IndivCategoryDashboardContent.tsx
  components/dashboard/components/NavButton.tsx
  components/dashboard/components/ui/DashBoardFooterContainer.tsx
  components/dashboard/components/ui/Draft.tsx
  components/dashboard/nav/IndivNavDashboardContent.tsx
  components/dashboard/page/IndivPageContent.tsx
  components/dashboard/tempsaved/IndivTempsavedContentList.tsx
  components/dashboard/upload/components/IndivUploadContentList.tsx
Labels: dashboard, api

#205 feat/#204: 글쓴이 api 수정 및 content 관련 수정
  api/blogHome.ts
  components/content/ui/ArticleTemplate.tsx
  components/content/ui/PageTemplate.tsx
Labels: content, api

#208 Feat/#206/fix blog nav
  api/blogHome.ts
  components/common/BlogNav.tsx
  components/common/SideBarNav.tsx
  types/blogHeader.ts
Labels: api

#207 Feat/#203/new editor ud
  api/article.ts
  api/page.ts
  app/[team]/editor/article/[articleId]/draft/page.tsx
  app/[team]/editor/article/[articleId]/edit/page.tsx
  app/[team]/editor/article/[articleId]/publish/page.tsx
  app/[team]/editor/article/publish/page.tsx
  app/[team]/editor/page/[pageId]/draft/page.tsx
  app/[team]/editor/page/[pageId]/edit/page.tsx
  app/[team]/editor/page/[pageId]/publish/page.tsx
  components/content/ui/Recommend.tsx
  components/dashboard/upload/UploadTemplate.tsx
  components/editor/TextEditorImport.tsx
  components/editor/publish/ui/CategorySelect.tsx
  components/editor/publish/ui/OneLiner.tsx
  components/editor/publish/ui/PublishBottom.tsx
  components/editor/publish/ui/PublishTitle.tsx
  components/editor/publish/ui/ThumbnailInput.tsx
  components/editor/publish/ui/UrlCustom.tsx
  components/editor/states/atom.ts
  components/editor/ui/EditorInputTitle.tsx
  components/editor/ui/SaveEditorContentButton.tsx
  hooks/article.ts
  hooks/dashboard.ts
  hooks/editor.ts
  styles/TextEditorStyle.ts
  types/article.ts
  types/page.ts
Labels: editor, api

#212 Feat/#203/new editor ud
  api/article.ts
  app/[team]/editor/article/[articleId]/publish/page.tsx
  app/[team]/editor/page/publish/page.tsx
  components/editor/TextEditorImport.tsx
  components/editor/publish/ui/CategorySelect.tsx
  components/editor/publish/ui/OneLiner.tsx
  components/editor/publish/ui/PublishBottom.tsx
  components/editor/publish/ui/PublishTitle.tsx
  components/editor/publish/ui/ThumbnailInput.tsx
  components/editor/states/atom.ts
  components/editor/ui/EditorInputTitle.tsx
  components/editor/ui/SaveEditorContentButton.tsx
  types/article.ts
Labels: editor, api

#211 feat/#210: 추천 아티클 api 변경
  components/content/ui/Recommend.tsx
  hooks/blogHome.ts
Labels: api

#215 Feat/#213/draft update
  api/article.ts
  api/page.ts
  app/[team]/editor/article/[articleId]/publish/page.tsx
  app/[team]/editor/page/[pageId]/draft/page.tsx
  components/editor/TextEditorImport.tsx
  components/editor/publish/ui/PublishBottom.tsx
  components/editor/ui/EditorInputTitle.tsx
  components/editor/ui/SaveEditorContentButton.tsx
  hooks/editor.ts
  types/article.ts
  types/page.ts
Labels: editor, api

#214 Fix/dashboard qa
  api/blog.ts
  app/[team]/dashboard/basicuserinfo/page.tsx
  components/dashboard/BasicUserInfo/ui/IdInputForm.tsx
  components/dashboard/BasicUserInfo/ui/UserId.tsx
  components/dashboard/BasicUserInfo/ui/UserInfoSaveButton.tsx
  components/dashboard/BasicUserInfo/ui/UserName.tsx
  components/dashboard/BasicUserInfo/ui/UserOneLiner.tsx
  components/dashboard/BasicUserInfo/ui/UserPosition.tsx
  components/dashboard/blogBasicInfo/BlogConfigTemplate.tsx
  components/dashboard/blogBasicInfo/BlogDescribeText.tsx
  components/dashboard/blogBasicInfo/BlogLogoImage.tsx
  components/dashboard/blogBasicInfo/BlogUrl.tsx
  components/dashboard/components/DashBoardNav.tsx
  components/dashboard/components/DashBoardTitle.tsx
  components/dashboard/components/ui/BlogListContainer.tsx
  components/dashboard/components/ui/SideBarTitle.tsx
  components/dashboard/nav/ui/NavSelectorContainer.tsx
  constants/mapPageType2HeaderInfo.ts
  public/icons/arrow_up.svg
  public/icons/index.ts
Labels: dashboard, GUI

#217 Fix/new sub
  app/page.tsx
  app/team/page.tsx
  components/blog/ui/ArticleListWithThumbnail.tsx
  components/blog/ui/CategoryBtnBar.tsx
  components/common/Article.tsx
  components/common/BlogNav.tsx
  components/common/ContentInfo.tsx
  components/common/MobileArticle.tsx
  components/common/SideBarNav.tsx
  components/dashboard/member/PopOver.tsx
  components/dashboard/nav/IndivNavDashboardContent.tsx
  components/dashboard/nav/ui/NavSelectorContainer.tsx
  components/dashboard/page/IndivPageContent.tsx
  components/dashboard/tempsaved/IndivTempsavedContentList.tsx
  components/dashboard/upload/components/IndivUploadContentList.tsx
  middleware.ts
Labels: router, api

#218 Fix/3th dashboard qa
  components/dashboard/blogBasicInfo/BlogDeleteButton.tsx
  components/dashboard/category/CategoryContentList.tsx
  components/dashboard/category/CategoryTemplate.tsx
  components/dashboard/category/IndivCategoryDashboardContent.tsx
  components/dashboard/nav/IndivNavDashboardContent.tsx
  components/dashboard/nav/NavContentList.tsx
  components/dashboard/nav/ui/TextInput.tsx
  types/modalState.d.ts
Labels: dashboard, router, api

#220 Feat/#216/new editor qa
  api/article.ts
  api/common.ts
  api/page.ts
  api/postImage.ts
  app/[team]/author/[authorId]/layout.tsx
  app/[team]/content/article/[articleUrl]/[articleId]/layout.tsx
  app/[team]/content/page/[pageUrl]/[pageId]/layout.tsx
  app/[team]/editor/article/[articleId]/draft/page.tsx
  app/[team]/editor/article/[articleId]/edit/page.tsx
  app/[team]/editor/article/[articleId]/publish/page.tsx
  app/[team]/editor/page/[pageId]/draft/page.tsx
  app/[team]/editor/page/[pageId]/edit/page.tsx
  app/[team]/editor/page/[pageId]/publish/page.tsx
  app/[team]/home/layout.tsx
  app/layout.tsx
  components/create-blog/info/ui/ImageInputForm.tsx
  components/dashboard/blogBasicInfo/BlogConfigTemplate.tsx
  components/editor/TextEditor.tsx
  components/editor/TextEditorImport.tsx
  components/editor/publish/ui/PublishBottom.tsx
  components/editor/publish/ui/ThumbnailInput.tsx
  components/editor/ui/SaveEditorContentButton.tsx
  components/editor/ui/ToolBox.tsx
  hooks/editor.ts
  styles/TextEditorStyle.ts
  utils/getImageMultipartData.ts
Labels: editor, api, fix

#221 Fix/4th/dashboard qa
  api/dashboard.ts
  components/dashboard/blogBasicInfo/BlogConfigTemplate.tsx
  components/dashboard/category/CategoryTemplate.tsx
  components/dashboard/category/IndivCategoryDashboardContent.tsx
  components/dashboard/components/ui/Content.tsx
  components/dashboard/components/ui/ModalTextAreaContainer.tsx
  components/dashboard/nav/ui/UrlInputContainer.tsx
  components/dashboard/page/IndivPageContent.tsx
  styles/GlobalStyle.ts
Labels: dashboard, QA

#225 Feat/dashboard delete modal
  components/dashboard/blogBasicInfo/BlogLogoImage.tsx
  components/dashboard/blogBasicInfo/BlogMainImge.tsx
  components/dashboard/category/IndivCategoryDashboardContent.tsx
  components/dashboard/components/DashboardContentDeleteModal.tsx
  components/dashboard/components/ui/DashBoardConatiner.tsx
  components/dashboard/nav/IndivNavDashboardContent.tsx
  components/dashboard/page/IndivPageContent.tsx
  components/dashboard/tempsaved/IndivTempsavedContentList.tsx
  components/dashboard/upload/components/IndivUploadContentList.tsx
  types/modalState.d.ts
Labels: dashboard

#231 Fix/member qa
  components/dashboard/category/IndivCategoryDashboardContent.tsx
  components/dashboard/member/PopOver.tsx
  components/dashboard/member/ui/DeleteMemberModal.tsx
  components/dashboard/member/ui/Member.tsx
  components/dashboard/member/ui/MemberList.tsx
  components/dashboard/member/ui/MemberTemplate.tsx
  components/dashboard/nav/IndivNavDashboardContent.tsx
  components/dashboard/upload/components/IndivUploadContentList.tsx
Labels: dashboard, fix

#233 Feat/#228/editor QA refactor
  components/common/ui/DashboardDeleteModal.tsx
  components/dashboard/components/DashBoardHeader.tsx
  components/dashboard/page/PageContentList.tsx
  components/dashboard/tempsaved/TempsavedContentList.tsx
  components/dashboard/upload/UploadTemplate.tsx
  components/editor/TextEditor.tsx
  components/editor/TextEditorImport.tsx
  components/editor/publish/ui/CategorySelect.tsx
  components/editor/publish/ui/OneLiner.tsx
  components/editor/publish/ui/PublishTitle.tsx
  components/editor/publish/ui/ThumbnailInput.tsx
  components/editor/ui/EditorInputTitle.tsx
  components/editor/ui/SaveEditorContentButton.tsx
  components/editor/ui/ToolBox.tsx
  package.json
  styles/TextEditorStyle.ts
  yarn.lock
Labels: editor, QA

#237 Feat/#232/third blog qa
  app/[team]/author/[authorId]/layout.tsx
  app/[team]/content/article/[articleUrl]/[articleId]/layout.tsx
  app/[team]/content/page/[pageUrl]/[pageId]/layout.tsx
  components/author/AuthorPageTemplate.tsx
  components/blog/MobileStickyBtn.tsx
  components/blog/ui/ArticleContainer.tsx
  components/blog/ui/ArticleListWithThumbnail.tsx
  components/common/Article.tsx
  components/common/MobileArticle.tsx
  components/content/ui/Recommend.tsx
  public/icons/index.ts
  public/icons/mobile_btn.svg
Labels: blog, QA

#238 Feat/#235/editorQAreal
  components/editor/TextEditor.tsx
  components/editor/TextEditorImport.tsx
  components/editor/publish/ui/PublishTitle.tsx
  package.json
  yarn.lock
Labels: feat, editor
