Repository palm-springs/PalmSpringClient, pull requests merged in 2024-01, with the labels that each got.

#318 Feat/#317 - 랜딩페이지 리뉴얼
  app/page.tsx
  app/team/page.tsx
  components/landing/Footer.tsx
  components/landing/Header.tsx
Labels: landing page

#319 Qa/#315
  api/auth.ts
  app/[team]/page.tsx
  components/common/ui/EmptyLanding.tsx
  components/dashboard/BasicUserInfo/ui/UserInfoSaveButton.tsx
  components/dashboard/BasicUserInfo/ui/UserName.tsx
  components/dashboard/BasicUserInfo/ui/UserOneLiner.tsx
  components/dashboard/BasicUserInfo/ui/UserPosition.tsx
  components/dashboard/LoadingContainer.tsx
  components/dashboard/blogBasicInfo/BlogConfigTemplate.tsx
  components/dashboard/blogBasicInfo/BlogMetaDataTitle.tsx
  components/dashboard/category/CategoryContentList.tsx
  components/dashboard/components/BlogList.tsx
  components/dashboard/components/DashBoardFooter.tsx
  components/dashboard/components/DashBoardNav.tsx
  components/dashboard/components/DashBoardTitle.tsx
  components/dashboard/components/ui/BlogListContainer.tsx
  components/dashboard/components/ui/DashBoardConatiner.tsx
  components/dashboard/components/ui/DashBoardNavContainer.tsx
  components/dashboard/components/ui/IndivBlog.tsx
  components/dashboard/components/ui/Line.tsx
  components/dashboard/components/ui/TabType.tsx
  components/dashboard/member/ui/MemberList.tsx
  components/dashboard/nav/NavContentList.tsx
  components/dashboard/nav/ui/NavSelectorContainer.tsx
  components/dashboard/page/PageContentList.tsx
  components/dashboard/tempsaved/TempsavedContentList.tsx
  components/dashboard/upload/UploadTemplate.tsx
  components/dashboard/upload/components/UploadTabBar.tsx
  components/dashboard/upload/components/ui/UploadTabBarContainer.tsx
  hooks/dashboard.ts
  middleware.ts
  styles/GlobalStyle.ts
Labels: dashboard, blog, QA

#326 [Blog] 블로그 home, mobile 관련 3차 qa 사항 수정
  app/[team]/content/article/[articleUrl]/[articleId]/layout.tsx
  app/[team]/home/layout.tsx
  components/blog/ui/ArticleContainer.tsx
  components/blog/ui/CategoryBtnBar.tsx
  components/common/ArticleList.tsx
  styles/MobileTextEditorStyle.ts
Labels: blog, content, QA, mobile

#329 Feat/#323/editor3rd qa
  api/article.ts
  app/[team]/content/article/[articleUrl]/[articleId]/opengraph-image.tsx
  app/[team]/content/article/[articleUrl]/[articleId]/page.tsx
  app/[team]/editor/article/[articleId]/draft/page.tsx
  app/[team]/editor/article/[articleId]/edit/page.tsx
  app/[team]/editor/article/page.tsx
  app/[team]/editor/page/[pageId]/draft/page.tsx
  app/[team]/editor/page/[pageId]/edit/page.tsx
  app/[team]/editor/page/page.tsx
  app/[team]/error.tsx
  app/[team]/home/page.tsx
  components/blog/BlogMeta.tsx
  components/editor/TextEditor.tsx
  components/editor/TextEditorImport.tsx
  components/editor/states/atom.ts
  components/editor/ui/SaveEditorContentButton.tsx
  hooks/editor.ts
  middleware.ts
  types/article.ts
  types/content.ts
Labels: editor, content, api, QA

#335 Feat/#334/editor re design
  app/[team]/home/opengraph-image.tsx
  app/[team]/home/page.tsx
  app/layout.tsx
  components/editor/ui/SaveEditorContentButton.tsx
Labels: QA

#338 feat/#334: 에디터 푸터 리디자인 스타일링
  components/editor/TextEditorImport.tsx
  components/editor/ui/SaveEditorContentButton.tsx
  components/editor/ui/ToolBox.tsx
Labels: editor

#344 feat/#342: 아티클 url 붙이기
  app/[team]/content/article/[articleUrl]/[articleId]/page.tsx
Labels: refactor

#348 qa/#347: 모바일 카테고리 버튼 스크롤 해시 제거
  components/blog/ui/CategoryBtnBar.tsx
Labels: blog, QA, mobile

#352 Feat/#350/scroll error
  app/[team]/content/article/[articleUrl]/[articleId]/opengraph-image.tsx
  app/[team]/editor/article/[articleId]/draft/page.tsx
  app/[team]/editor/article/[articleId]/edit/page.tsx
  app/[team]/editor/article/page.tsx
  app/[team]/editor/page/[pageId]/draft/page.tsx
  app/[team]/editor/page/[pageId]/edit/page.tsx
  app/[team]/editor/page/page.tsx
  components/editor/TextEditor.tsx
  components/editor/TextEditorImport.tsx
  components/editor/ui/SaveEditorContentButton.tsx
  components/editor/ui/ToolBox.tsx
  package.json
  styles/TextEditorStyle.ts
  yarn.lock
Labels: editor, refactor, QA

#354 RELEASE - v1.0.1
  components/blog/MobileStickyBtn.tsx
  components/common/BlogFooter.tsx
  styles/TextEditorStyle.ts
Labels: fix

#355 RELEASE - v1.0.2
  components/create-blog/info/ui/ImageInputForm.tsx
  components/dashboard/BasicUserInfo/ui/UserProfile.tsx
  components/dashboard/blogBasicInfo/BlogLogoImage.tsx
  components/dashboard/blogBasicInfo/BlogMainImge.tsx
  components/dashboard/blogBasicInfo/BlogMetaDataImage.tsx
  components/editor/publish/ui/ThumbnailInput.tsx
  components/editor/ui/ToolBox.tsx
  components/editor/ui/TopToolBox.tsx
  components/invite/ui/UserProfile.tsx
Labels: QA

#356 RELEASE - v1.0.4
  components/editor/ui/SaveEditorContentButton.tsx
Labels: QA
